<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowRoute</title>
    <link rel="stylesheet" href="/css/show.css">
</head>
<body>
    <a href="./">Back to store</a>
    <h1><%= seaFood.name %></h1>
    <div class="fishContainer">
        <img src="<%= seaFood.img %>" alt="">
        <p class="description"><%= seaFood.description %></p>
        <% if (seaFood.qty > 0) { %>
            <h4 class = qty><%= seaFood.qty %> lb remaining</h4>
            <h5 class="price">Price: $<%= seaFood.price %></h5>
        <% } else { %>
            <p class="out">OUT OF STOCK</p>
        <% } %>
    </div>
</body>
</html>