<%- include('./partials/headershowclient.ejs') %>
    <h1><%= seaFood.name %></h1>
    <div class="fishContainer">
        <img src="<%= seaFood.img %>" alt="">
        <p class="description"><%= seaFood.description %></p>
        <% if (seaFood.qty > 0) { %>
            <h4 class = qty><%= seaFood.qty %> lb remaining</h4>
            <h5 class="price">Price: $<%= seaFood.price %></h5>
        <% } else { %>
            <p class="out">OUT OF STOCK</p>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>